@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;


.edit-form {
  @include rootContainerInner;
  background-color: #0000007c;
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  &-block {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    position: absolute;
    width: 90%;
    background-color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
  }

  &__close-ico {
    height: 1rem;
    filter: invert(1);
    position: absolute;
    right: $component-padding;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    margin-top: -$component-padding;
    margin-left: -$component-padding;
    margin-right: -$component-padding;
    margin-bottom: $component-padding;
    background-color: #22333B;
    color: white;
    padding-top: $component-padding;
    padding-left: $component-padding;
    padding-bottom: 0.5rem;
    border-radius: 1px;
    font-size: 1.35rem;
    font-weight: 500;
    font-family: sans-serif;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $component-padding 2%;
  }

  &__label {
    width: 49%;

    &--address {
      width: 100%;
    }

    &--volunteer {
      margin: 0;
    }
  }

  &__field {
    width: 100%;

    &--error {
      border: 1px solid red;
    }
  }

  &__input-block {
    width: 49%;


  }

  &__radio {}

  &__button {
    @include button;
    padding: $root-padding $component-padding;


    &--submit {
      @extend .edit-form__button;
      margin-right: $component-padding;
    }

    &--cancel {
      @extend .edit-form__button;
      color: #6D213C;
      background-color: #FCF2EE;

      &:hover {
        background-color: #F9E4DC;
      }
    }
  }
}