@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/variables'as *;

.post-form {
  @include rootContainerInner;
  background-color: #0000007c;
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  &__block {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    position: absolute;
    width: 65%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem;
  }

  &__close-ico {
    height: 1rem;
    filter: invert(1);
    position: absolute;
    right: $component-padding;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    margin-top: -$component-padding;
    margin-left: -$component-padding;
    margin-right: -$component-padding;
    margin-bottom: $component-padding;
    background-color: #22333B;
    color: white;
    padding-top: $component-padding;
    padding-left: $component-padding;
    padding-bottom: 0.5rem;
    border-radius: 1px;
    font-size: 1.35rem;
    font-weight: 500;
    font-family: sans-serif;
  }

  &__fields {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $component-padding;
    width: 100%;
  }

  &__fields-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $component-padding;
    width: 80%;
  }

  &__field {
    margin-bottom: 1rem;
    width: 100%;
  }

  #title,
  #description {
    width: 100%;
  }

  #description {
    height: 6rem;
    resize: none;

  }

  &__label {
    width: 100%;
    display: block;
    margin-bottom: 0.25rem;
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__button-block {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
  }

  &__button {
    @include button;
    padding: $root-padding $component-padding;
    cursor: pointer;


    &--submit {
      @extend .post-form__button;
      margin-right: $component-padding;
      background-color: #F1F8F3;
      color: #227396;

      &:hover {
        background-color: #E4F1E8;
      }
    }

    &--cancel {
      @extend .post-form__button;
      color: #6D213C;
      background-color: #FCF2EE;

      &:hover {
        background-color: #F9E4DC;
      }
    }
  }
}

.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  left: 50%;
  transform: translatex(-50%);
  position: fixed;
  bottom: 0;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.25rem 1rem 1rem 1rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  z-index: 10;
}