@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/variables'as *;
@use '../../styles/partials/colors'as *;

.post-form {
  @include overlay;

  &__block {
    @include overlayBlock;
  }

  &__filler {
    @include cardFiller;

    &--offer {
      @extend .post-form__filler;
      background-color: #123794;
    }

    &--seeking {
      @extend .post-form__filler;
      background-color: #462749;
    }
  }

  &__close-ico-wrapper {
    @include closeIcoWrapper;
  }

  &__close-ico {
    @include closeIco;
  }

  &__title {
    @include overlayTitle;
  }

  &__form {
    @include listFlex;
    width: 100%;
  }

  &__form-block {
    @include listFlex;
    gap: $component-padding;
    width: 80%;
  }

  &__field {
    margin-bottom: 1rem;
    width: 100%;

    &--error {
      border: 1px solid red;
    }
  }

  #title,
  #description {
    width: 100%;
  }

  #description {
    height: 6rem;
    resize: none;

  }

  &__label {
    width: 100%;
    display: block;
    margin-bottom: 0.25rem;
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__button-block {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
    gap: $component-padding;
  }

  &__button {
    @include button;
    padding: $root-padding $component-padding;

    &--submit {
      @extend .post-form__button;
      background-color: #F1F8F3;
      color: #227396;

      &:hover {
        background-color: #E4F1E8;
      }
    }

    &--cancel {
      @extend .post-form__button;
      color: $user-triage;
      background-color: $user-cta;

      &:hover {
        background-color: $user-hover;
      }
    }
  }
}

.create-post {
  @include listFlex;
  width: fit-content;
  left: 50%;
  transform: translatex(-50%);
  position: fixed;
  bottom: 0;
  background-color: #b7d6ff;
  box-shadow: rgba(100, 100, 111, 0.471) 0 7px 29px 0;
  padding: 1rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  z-index: 10;

  &__button {
    @include button;
    font-size: 1.15rem;
    background-color: #daeaff;
    display: flex;
    justify-content: center;
    color: $site-primary;

    &:hover {
      background-color: #5da3ff;
      color: #FFFFFF;
    }
  }

  &__button-label {
    margin-top: 0;
  }
}