@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;

.list-block {
  display: flex;
  flex-direction: column;

  &__filler {
    height: 1.25rem;
    background-color: #22333B;
    border-radius: 1px;
    width: 100%;
    order: 2
  }
}


.first {
  order: 1;
  box-shadow: 0px 10px 13px -7px #000000,
    0px -10px 13px -7px rgba(0, 0, 0, 0);
  margin-bottom: 4.5rem;
  border-radius: 2px;
  padding: 0 $component-padding $component-padding;

  >h3 {
    margin-top: 0.5rem;
    padding: $root-padding $component-padding 0.5rem;
    margin-left: -$component-padding;
    margin-right: -$component-padding;
    background-color: #4E8098;
    border-radius: 1px;
    font-size: 1.35rem;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    // letter-spacing: 0.1rem;
  }
}

.second {
  order: 3;
  box-shadow: 0px 10px 13px -7px #000000,
    0px -10px 13px -7px rgba(0, 0, 0, 0);
  margin-bottom: 4.5rem;
  border-radius: 2px;
  padding: 0 $component-padding $component-padding;

  >h3 {
    margin-top: 0.5rem;
    padding: $root-padding $component-padding 0.5rem;
    margin-left: -$component-padding;
    margin-right: -$component-padding;
    background-color: #462749;
    color: white;
    border-radius: 1px;
    font-size: 1.35rem;
    font-weight: 500;
    font-family: sans-serif;
  }
}

.dashboard {
  @include rootContainer;
  padding: 0 $root-padding;

  &__title {
    background-color: #22333B;
    color: white;
    padding-top: $component-padding;
    padding-left: $component-padding;
    padding-bottom: 0.5rem;
    border-radius: 1px;
  }

  &__swiper {
    @include cardFrameInner;
  }
}