$user-primary: #a72615;
$user-secondary: #e5beb9;
$user-cta: #FCF2EE;
$user-hover: #F9E4DC;

$seeking-primary:#462749;
$seeking-secondary: #c8bec8;
$seeking-cta: #ede9ed;
$seeking-hover: #dad4db;

$offer-primary: #123794;
$offer-secondary: #b8c3df;
$offer-cta: #e7ebf4;
$offer-hover: #d0d7ea;

$site-primary:#22333B;
$user-triage: #6D213C;