$user-primary: #a72615;
$user-secondary: #e5beb9;
$user-triage: #6D213C;
$user-cta: #FCF2EE;
$user-hover: #F9E4DC;

$seeking-primary:#462749;
$seeking-secondary: #c8bec8;

$offer-primary: #123794;
$offer-secondary: #b8c3df;

$site-primary:#22333B;