// desktop margins
$root-max-width: 73rem;
$root-min-height: calc(100vh - 169.59px - 47px);

$root-padding: 1rem;
$component-padding: 1.5rem;

//Nav
$nav-height: 5.75rem;
$nav-component-height:3rem;
$nav-padding: 1rem;