@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/colors'as *;

.logout-button {
  @include button;
  width: 100%;
  background-color: $user-cta;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $user-hover;
  }
}