@use './partials/breakpoints'as*;
@use './partials/variables'as*;
@use './partials/keyframes'as*;
@use './partials/mixins'as*;

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

*,
*::before,
*::after {
  transition: 0.3s;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: Raleway,
    Open Sans,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.4;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;

  @include tablet {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 500;
  font-size: 1rem;

  @include tablet {
    font-size: 1.25rem;

  }
}

h3 {
  font-weight: 700;
  font-size: 0.75rem;

  @include tablet {
    font-size: 1rem;
  }
}

p {
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

input,
textarea {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.app {
  width: 100vw;
  margin: 0;
  height: 100%;
}