@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;
@use '../../styles/partials/colors'as*;

.post-card {
  @include swiperCard;
  margin-bottom: 2rem;

  &__link {
    text-decoration: none;

    &:hover {
      .post__details {
        text-decoration: underline;
      }
    }
  }

  &__block {
    // height: 80%;
    padding-left: $component-padding;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__title-block {
    @include swiperCardTitle;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--offer {
      @extend .post-card__title-block;
      background-color: $offer-secondary;
      color: $offer-primary;
      border-color: $offer-primary;
    }

    &--seeking {
      @extend .post-card__title-block;
      background-color: $seeking-secondary;
      color: $seeking-primary;
      border-color: $seeking-primary;
    }
  }

  &__title {
    margin: 0;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__icon {

    &:hover {
      cursor: pointer;
    }
  }

  &__users {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    margin: 0;

    &--offer {
      @extend .post-card__users;
      background-color: $offer-cta;
      color: $offer-primary;

      &:hover {
        background-color: $offer-hover;
        cursor: pointer;
      }
    }

    &--seeking {
      @extend .post-card__users;
      background-color: $seeking-cta;
      color: $seeking-primary;

      &:hover {
        background-color: $seeking-hover;
        cursor: pointer;
      }
    }
  }

  &__author {
    color: #666;
    border-left: 3.5px solid;
    margin-top: 0.25rem;
    margin-left: -$component-padding;
    padding: 0.25rem $root-padding;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &--offer {
      @extend .post-card__author;
      border-color: $offer-secondary;
    }

    &--seeking {
      @extend .post-card__author;
      border-color: $seeking-secondary;
    }
  }

  &__avatar {
    height: 2.5rem;
  }

  &__username {
    margin: 0;
    font-size: 1rem;
  }

  &__published {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
  }

  &__details {
    @include listFlex;
    margin-left: -$component-padding;

  }

  &__subheading {
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #373F51;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin: 2.5rem auto 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  &__city {
    @include formLabel;
    font-weight: 500;
    margin: 0 auto;

    &--offer {
      @extend .post-card__city;
      color: $offer-primary;
    }

    &--seeking {
      @extend .post-card__city;
      color: $seeking-primary;
    }
  }

  &__body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    box-shadow: inset 0 0 25px -15px #0000002e;
    color: rgb(145, 145, 145);
    font-size: 0.85rem;
    margin: 0.75rem auto 0;
    border-radius: 3px;
    padding: 0.75rem 0.5rem;
  }
}