@use '../../styles/partials/variables'as*;

.profile-page {
  min-height: $root-min-height;

  &__avatar {
    width: 12rem;
    padding: 0.5rem;
    background-color: #E4F1E8;
  }

  &__logout-wrapper {
    margin-top: 2rem;
  }
}