@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;

.profile-page {
  @include rootContainer;
  min-height: $root-min-height;
  height: 100%;
  background-color: #FFFFFF;
  padding: $component-padding;
  z-index: 10;

  &__title {
    margin-top: 3rem;
    background-color: #22333B;
    color: white;
    padding-top: $component-padding;
    padding-left: $component-padding;
    padding-bottom: 0.5rem;
    border-radius: 1px;
  }
}

.profile-card {
  box-shadow: 0px 10px 13px -7px #000000,
    0px -10px 13px -7px rgba(0, 0, 0, 0);
  margin: 0 0 4.5rem;
  border-radius: 2px;
  padding: 0 $component-padding $component-padding;

  &__title {
    margin-left: -$component-padding;
    margin-right: -$component-padding;
    background-color: #a72615;
    color: #FFFFFF;
    padding: $root-padding $component-padding 0.5rem;
    font-size: 1.35rem;
    font-weight: 500;
    font-family: sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__logout-wrapper {
    align-self: flex-start;
    margin-top: 0;
    display: flex;
    align-items: stretch;
    gap: $component-padding;
  }

  &__edit-button {
    @include button;
    color: #6D213C;
    background-color: #FCF2EE;
    width: 100%;

    &:hover {
      background-color: #F9E4DC;
    }
  }

  &__subheading {
    margin-top: 0;
    padding: 0.75rem 0 0.25rem $root-padding;
    color: white;
    background-color: #a72615;
    margin-right: -$component-padding;
    border-left: 3.5px solid #e5beb9;
    font-weight: 500;
    font-size: 1.25rem;
  }

  &__frame {
    @include cardFrameInner;
    display: flex;
    gap: $component-padding;
    align-items: stretch;
    padding-bottom: 3rem;
  }

  &__user-frame {
    flex: 1;
    background-color: #FFFFFF;
    padding: $component-padding;
    border-radius: 3px;
    border-bottom: 5px solid #666;
    box-shadow: 0px 8px 20px -8px #00000090;
  }

  &__avatar-frame {
    flex: 1;
    @include swiperAvatarFrame;
  }

  &__avatar {
    @include swiperAvatar
  }

  &__label {
    margin-left: $root-padding;
    @include formLabel
  }

  &__body {
    @include formBody;
  }
}