@use '../../styles/partials/mixins'as*;
@use '../../styles/partials/variables'as*;

.profile-page {
  @include rootContainer;
  min-height: $root-min-height;
  height: 100%;
  background-color: #FFFFFF;
  padding: $component-padding;
  z-index: 10;

  &__title {
    @include pageTitle;
    margin-top: 3rem;
  }
}