@use '../../styles/partials/mixins'as*;

.login-button {
  @include button;
  width: 100%;
  background-color: #F1F8F3;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #E4F1E8;
  }
}