@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;
@use '../../styles/partials/colors'as*;

.edit-form {
  @include overlay;

  &-block {
    @include overlayBlock;
  }

  &__filler {
    @include cardFiller;
    background-color: $user-primary;
  }

  &__close-ico-wrapper {
    @include closeIcoWrapper;
  }

  &__close-ico {
    @include closeIco;
  }

  &__title {
    @include overlayTitle;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: $component-padding 2%;
  }

  &__label {
    @include formLabel;
    text-transform: uppercase;
    width: 49%;

    &--volunteer {
      @extend .edit-form__label;
      margin: 0;
    }

    &--error {
      @extend .edit-form__label;
      color: $user-primary;
      text-transform: initial;

    }
  }

  &__field {
    width: 100%;

    &--error {
      border: 1px solid $user-primary;
    }
  }

  &__input-block {
    width: 49%;
  }

  &__radio {}
}