@use '../../styles/partials/variables'as*;

.header {
  height: $nav-height;
  padding: $nav-padding $nav-padding;
  border-bottom: 2px solid #E49273;
  background-color: black;
  display: flex;
  align-items: center;

  &__block {
    width: 100%;
    max-width: $root-max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
  }

  &__logo {
    height: $nav-component-height;
    filter: invert(1);
  }

  &__icon {
    height: 2rem;
    filter: invert(1);
  }

  &__menu-btn {
    height: $nav-component-height;
    padding: $nav-padding;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__nav {
    display: flex;
    gap: 1.5rem;
  }

  &__nav-link--active {

    &:link,
    &:visited {
      color: #E49273;
      text-decoration: none;
    }
  }
}