@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;
@use '../../styles/partials/colors'as*;

.header {
  height: $nav-height;
  padding: $nav-padding $nav-padding;
  background-color: $site-black;
  display: flex;
  align-items: center;
  font-family: Open Sans;

  &__block {
    width: 100%;
    max-width: $root-max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
  }

  &__logo {
    height: $nav-component-height;
  }

  &__icon {
    height: 2rem;
    filter: invert(1);
  }

  &__menu-block {
    display: flex;
    gap: $component-padding;
    color: white;
  }

  &__hamburger-block {
    display: inline-block;
    position: relative;
    width: 4.25rem;
    height: $nav-component-height;
    border: 2px solid white;
    border-radius: 3px;
  }

  &__menu-item {
    text-decoration: none;
    color: white;
    background-color: $site-primary;
    border-radius: 3px;
    padding: 0.5rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &:hover {
      background-color: #a7adb1;
    }
  }
}

.menu-wrapper {
  overflow: auto;
  background-color: #FCFCFC;
}

.bm-burger {

  /* Position and sizing of burger button */
  &-button {
    position: absolute;
    width: 2.25rem;
    height: 1rem;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }

  /* Color/shape of burger icon bars */
  &-bars {
    background: #ffffff;

    /* Color/shape of burger icon bars on hover*/
    &-hover {
      background: #faa115;
    }
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;

  /* Position and sizing of clickable cross button */
  &-button {
    height: 24px;
    width: 24px;
  }
}


/* General sidebar styles */
.bm-menu {
  background: $site-primary;
  padding: $nav-height 0 0;
  font-size: 1.15rem;

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  &-wrap {
    position: fixed;
    top: 0;
    height: 100%;
  }
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 0;
  text-align: center;
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  width: 100%;

  &-block {
    @include listFlex;
    gap: $component-padding;
    padding: 0.8em;
  }

  /* Wrapper for item list */
  &-list {
    @include listFlex;
    color: $site-primary;
    background-color: #FFFFFF;
  }
}

.bm {
  &__address {
    background-color: $site-black;
    color: white;
    border-radius: 3px;
    width: 100%;
    padding: $root-padding;
    align-self: flex-end;
    @include listFlex;

    >.bm__label {
      margin: 0;
    }
  }

  /* Styling of overlay */
  &__overlay {
    left: 0;
    top: 0;
  }

  &__list {
    margin: $root-padding auto 0;
    width: fit-content;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: $root-padding
  }

  &__logo {
    background-color: white;
    box-sizing: content-box;
    height: 1.75rem;
    border-radius: 22px;
    border: 2px solid $site-black;
    padding: 0.75rem;


    &--github {
      @extend .bm__logo;
      color: $github-color;

      &:hover {
        border-color: $github-color;
      }
    }

    &--gmail {
      @extend .bm__logo;
      color: $gmail-color;

      &:hover {
        border-color: $gmail-color;
      }
    }

    &--linkedin {
      @extend .bm__logo;
      color: $linkedin-color;

      &:hover {
        border-color: $linkedin-color;
      }
    }
  }
}