@use '../../styles/partials/variables'as*;

.header {
  height: $nav-height;
  padding: $nav-padding $nav-padding;
  border-bottom: 2px solid #E49273;
  background-color: black;
  display: flex;
  align-items: center;

  &__block {
    width: 100%;
    max-width: $root-max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
  }

  &__logo {
    height: $nav-component-height;
    filter: invert(1);
  }

  &__icon {
    height: 2rem;
    filter: invert(1);
  }

  &__menu-block {
    display: inline-block;
    position: relative;
    width: 4.25rem;
    height: $nav-component-height;
    border: 2px solid white;
    border-radius: 3px;
  }
}