@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;
@use '../../styles/partials/colors'as*;

.post-details {
  @include rootContainer;
  background-color: #FFFFFF;
  height: 100%;
  min-height: $root-min-height;
  padding: $component-padding;
  z-index: 10;

  &__block {
    @include mainComponent;
  }

  &__title-wrapper {
    @include pageTitle;
    margin-top: 3rem;
    margin-left: -$component-padding;
    margin-right: -$component-padding;
    display: flex;
    align-items: center;
  }

  &__subheading-block {
    @include pageSubheading;
    margin-top: 0.5rem;
    margin-bottom: $component-padding;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &--offer {
      @extend .post-details__subheading-block;
      background-color: #123794;
    }

    &--seeking {
      @extend .post-details__subheading-block;
      background-color: #462749;
    }
  }

  &__subheading {
    color: white;
    margin: 0;
  }

  &__button-wrapper {
    margin-top: 0;
    display: flex;
    gap: $component-padding;
    align-items: center;
    align-self: flex-start;
    height: fit-content;
  }

  &__icon-wrapper {
    // @include closeIcoWrapper;
    // position: initial;
    display: initial;
    border: none;
    padding: 0;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    @include button;

    &--offer {
      @extend .post-details__icon;
      background-color: $offer-cta;
      color: $offer-primary;

      &:hover {
        background-color: $offer-hover;
        cursor: pointer;
      }
    }

    &--seeking {
      @extend .post-details__icon;
      background-color: $seeking-cta;
      color: $seeking-primary;

      &:hover {
        background-color: $seeking-hover;
        cursor: pointer;
      }
    }
  }

  &__edit-button {
    @include button;
    width: 100%;

    &--offer {
      @extend .post-details__edit-button;
      background-color: $offer-cta;
      color: $offer-primary;

      &:hover {
        background-color: $offer-hover;
        cursor: pointer;
      }
    }

    &--seeking {
      @extend .post-details__edit-button;
      background-color: $seeking-cta;
      color: $seeking-primary;

      &:hover {
        background-color: $seeking-hover;
        cursor: pointer;
      }
    }
  }

  &__frame {
    @include frameInner;
  }

  &__card {
    @include swiperCard;
    justify-content: space-between;

    &--avatar {
      @include swiperAvatarCard;
      max-width: fit-content;
      align-items: center;
    }
  }

  &__avatar {
    @include swiperAvatar;
  }

  &__label {
    @include formLabel;
  }

  &__body {
    @include formBody;
  }
}