@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;


.footer {
  @include rootContainer;
  border-top: 1px solid #d1d1d1;
  min-height: 7.5rem;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: #e9e9e9;
  padding: $component-padding $root-padding 1.5rem;

  &__block {
    align-self: flex-end;
    @include listFlex;
  }

  &__link {
    text-decoration: none;
    color: #1f1f1f;
  }

  &__list {
    margin: $root-padding auto 0;
    width: fit-content;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: $root-padding
  }

  &__list-item {
    list-style: none;
  }

  &__logo {
    box-sizing: content-box;
    padding: 0.5rem;
    border-radius: 22px;
    height: 2rem;
    border: 2.5px solid rgba(0, 0, 0, 0);

    &:hover {
      border: 2px solid #a7adb1;
    }
  }

  &__body {
    color: #a7adb1;
    text-align: center;
  }

  &__ico {
    height: 1.5rem;
    filter: grayscale(1);
  }
}