@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;
@use '../../styles/partials/colors'as*;

.post {
  @include cardStyle;
  margin-bottom: 2rem;
  padding: 1rem $root-padding 0.5rem;
  height: 95%;

  &__link {
    text-decoration: none;
  }

  &__block {
    height: 80%;
    padding-left: $root-padding;
    box-sizing: border-box;
    overflow: hidden;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.75rem $root-padding 0.25rem;
    margin-right: -$root-padding;
    margin-bottom: calc($root-padding / 2);
    border-left: 3.5px solid;

    &--offer {
      @extend .post__title-block;
      background-color: $offer-secondary;
      color: $offer-primary;
      border-color: $offer-primary;
    }

    &--seeking {
      @extend .post__title-block;
      background-color: $seeking-secondary;
      color: $seeking-primary;
      border-color: $seeking-primary;
    }
  }

  &__title {
    margin: 0;
  }

  &__subheading {
    margin: 0 auto 1.25rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    color: #373F51;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: $root-padding;
  }

  &__city {
    // @include formLabel;
    font-weight: 500;
    margin: 0.25rem auto;

    &--offer {
      @extend .post__city;
      color: $offer-primary;
    }

    &--seeking {
      @extend .post__city;
      color: $seeking-primary;
    }
  }

  &__author {
    margin-top: 0.25rem;
    margin-left: -$root-padding;
    padding: 0.25rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #666;
    border-left: 3.5px solid;

    &--offer {
      @extend .post__author;
      border-color: $offer-secondary;
    }

    &--seeking {
      @extend .post__author;
      border-color: $seeking-secondary;
    }
  }

  &__avatar {
    height: 2rem;
  }

  &__username {
    margin: 0;
    font-size: 1rem;
  }

  &__users {
    font-size: 0.75rem;
    margin-left: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    background-color: #E4F1E8;
  }

  &__published {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
  }

  &__content {
    font-size: 0.85rem;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(145, 145, 145);
    border-radius: 4px;
    padding: 0.75rem 0.5rem;
    box-shadow: inset 0px 0px 25px -15px #0000002e;
  }
}