@use '../../styles/partials/variables'as*;
@use '../../styles/partials/colors'as*;
@use '../../styles/partials/mixins'as*;


.swiper-component {
  height: 26rem;
  display: flex;
  align-items: center;
}

.swiper-block {
  margin: auto;
  max-width: $root-max-width;
  padding: $component-padding;

  &__inner {
    border-radius: 3px;
    padding: $root-padding $component-padding;
    border-top: 25px solid #626060;
    border-bottom: 6px solid #626060;
    background-color: #2e3033;
    position: relative;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1),
      0 3px 3px rgba(0, 0, 0, 0.15),
      0 4px 8px rgba(0, 0, 0, 0.2),
      0 8px 16px rgba(0, 0, 0, 0.25),
      0 16px 32px rgba(0, 0, 0, 0.3),
      0 32px 48px rgba(0, 0, 0, 0.35);
  }

  &__accent1 {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 25px;
    position: absolute;
    background-color: rgb(237, 106, 94);
    border: 2px solid rgb(223, 99, 87);
    box-shadow: -10px 0 13px -7px #000000, 10px 0 13px -7px #000000, 0 10px 13px -7px #000000, 0 -10px 13px -7px #000000, 0 -10px 13px -7px #000000;
    top: -1.15rem;
    left: 0.4rem;
  }

  &__accent2 {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 25px;
    position: absolute;
    background-color: rgb(245, 191, 79);
    border: 2px solid rgb(226, 174, 69);
    box-shadow: -10px 0 13px -7px #000000, 10px 0 13px -7px #000000, 0 10px 13px -7px #000000, 0 -10px 13px -7px #000000, 0 -10px 13px -7px #000000;
    top: -1.15rem;
    left: 1.6rem;
  }

  &__accent3 {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 25px;
    position: absolute;
    background-color: rgb(98, 197, 84);
    border: 2px solid rgb(83, 180, 70);
    box-shadow: -10px 0 13px -7px #000000, 10px 0 13px -7px #000000, 0 10px 13px -7px #000000, 0 -10px 13px -7px #000000, 0 -10px 13px -7px #000000;
    top: -1.15rem;
    left: 2.8rem;
  }
}

.swiper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &-slide {
    height: auto;
  }

  &--slide4 {
    @extend .swiper;
    justify-content: center;
  }

  &__title {
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 700;

    &--slide2 {
      @extend .swiper__title;
      font-size: 1.5vw;
      color: #E0D8DE;
    }

    &--slide4 {
      @extend .swiper__title;
      width: 45%;
      color: $site-black;
      text-align: center;
      margin: 0.25rem auto;
    }
  }

  &__block {
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--slide1 {
      @extend .swiper__block;
      background-color: #FFFFFA;
      padding: 3rem;
    }

    &--slide2 {
      @extend .swiper__block;
      background-color: #1F01B9;
    }

    &--slide4 {
      @extend .swiper__block;
      background-image: url('../../assets/images/big_hug.jpeg');
      padding: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      justify-content: center;

      &-overlay {
        height: 100%;
        width: 100%;
        background-color: #ffffff96;
        @include listFlex;
        justify-content: center;
      }
    }
  }

  &__img {
    width: 65%;
    height: 100%;
    object-fit: cover;

    &--logo {
      padding: 25% 0;
      border-bottom: 4px solid #ab6612;
      object-fit: cover;
    }
  }
}